.wraper {
    min-height: 100vh;
    background-color: #f8f8f8;
}

.todos-form {
    width: 700px;
    padding: 1rem;
    background-color: white;
}

.todos-form .form-control,
.todos-form .btn{
    height: 50px;
}

.todos-form .form-control::placeholder{
    text-transform: capitalize;
}

.todos-form .form-control{
    width: 80%;
}
.todos-form .btn{
    width: 20%;
}

.todos-list {
    padding: 1rem;
    width: 700px;
}

.todos-list .item{
    padding: 0.5rem;
    background-color: white;
}